<footer>
                <span class='icon'>
                    <a href="https://fb.com/"><ion-icon name="logo-facebook"></ion-icon></a>
                </span>
                 <span class='icon'>
                    <a href="https://twitter.com/"><ion-icon name="logo-twitter"></ion-icon></a>
                </span>
                <span class='icon'>
                    <a href="https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></a>
                </span>
        <p>
            <strong>EZ PC</strong><br>
            &copy;Copyright <script>document.write(new Date().getFullYear().toString())</script>, All Rights Reserved.
        </p>
    </footer>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script> 
<style>
	footer{
        text-align: center;
        display: block;
        background: linear-gradient(45deg,#c6c6c6,#BBFFEE);
        margin: auto;
        width: 100%;
        padding: 2%;
    }
    .icon{
        padding:5px;
        font-size: 30px;
    }
</style>