<form id="reviewform" name='reviewform' >
    <br>
    <br>
    <label for="reviewinput" id = "reviewinputlabel">ADD REVIEW</label>
    <br>
        <input type="text" id = "reviewinput" >
        <br>
        <input type="button" id = "submitreview" name="submitreview"/>
            <label for="submitreview" id = "submitlabel" >SUBMIT</label>
        </form>
        <h3  id = "ratinglabel">ADD RATING</h3>
        <br>
        <form class="rating">
            <label>
              <input type="radio" name="stars" value="1" />
              <span class="icon">★</span>
            </label>
            <label>
              <input type="radio" name="stars" value="2" />
              <span class="icon">★</span>
              <span class="icon">★</span>
            </label>
            <label>
              <input type="radio" name="stars" value="3" />
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>   
            </label>
            <label>
              <input type="radio" name="stars" value="4" />
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
            </label>
            <label>
              <input type="radio" name="stars" value="5" />
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
            </label>
          </form>