<!DOCTYPE html>
<html>
	<%- include('../partials/head.ejs')  %>
	<%- include('../partials/index.ejs')  %>
	<title>About</title>

<body>
	<div class = "container">
		<div class="navbar">
			<img src="/images/logo.png" class="logo">
		</div>

		<div class="about">
		<h1>About Us.</h1>
		<br>
		<p><b>About the Company/ Our Story</b></p>

<br>EZPC is a computer retail company that was built on the principles of simplicity,<br> usability, and outstanding customer service. However, this local technology <br>retail pioneer arose from modest beginnings when three friends with a <br>similar love for technology started tracking down secondhand PCs in the <br>Facebook Marketplace online community to resell at reasonable prices.<br>

<br>EZ PC officially got its name when it opened its first store in Manila in September 2020. A play <br>on the expression ez which in games is slang for easy, the name was a key step in establishing a brand that <br> promised reliable services and quality products. Eventually, the business shifted to selling brand new <br>products at accessible prices.<br>

<br>Today, as EZPC operates seven branches strong, our dedication to growth also extends to each and <br>every customer. We strive to provide solutions, reliable services, and affordable but quality <br>technologies that will enhance the lives of our customers and community. As we move to greater <br>heights, providing the best customer experience is our number one goal.<br><br>


<h3><p><b>Mission</b></p></h3>

<br>EZPC is committed to enhancing the technological knowledge and experience of every Filipino by <br>providing reliable, high-quality products and excellent customer service.<br><br>


	<h3><p><b>Vision</b></p></h3>

<br>EZPC's vision is to uplift the Filipino community by creating an exceptional customer experience. <br>We strive to become the go-to for anyone who wants access to technology – whether these are <br>High-end products or those that cater to normal day-to-day needs.<br>


</div>



	</div>
	<%- include('../partials/footer.ejs')  %>
	<%- include('../partials/nav.ejs')  %>
	
</div>
</body>
</html>
<style>
  .about {
  text-align: center;

  text-justify: inter-word;
}
  </style>
