<!DOCTYPE html>
<html>
	<%- include('../partials/head.ejs')  %>
	
    <body>
        <div id ="checkout">
			<form id="checkoutform" name='checkoutform' action="/checkoutsuccess" >
				<br>
				<br>

            <label for="payment">Mode of Payment</label>
            <select id="payment">
                <option value="Paypal" selected>Paypal</option>
                <option value="Creditcard">Credit Card</option>
                <option value="Debitcard">Debit Card</option>
            </select>
            <br>
            <input type="text" name="" placeholder="Address">
            <input type="text" name="" placeholder="Card Number">
            <input type="text" name="" placeholder="Security Code">
            <input type="text" name="" placeholder="Zip Code">

				<input type="submit" id = "submitcheckout" name="SUBMIT"/>
				
			</form>
		</div>
        <%- include('../partials/checkout.ejs')  %>
        <%- include('../partials/footer.ejs')  %>
		<%- include('../partials/nav.ejs')  %>

    </body>

</html>