<!DOCTYPE html>
<html>

    <%- include('../partials/checkout.ejs')  %>
<body>
    <h1 style="text-align: center; margin: auto; margin-top: 70px;">CHECKOUT SUCCESSFUL</h1>
<script>
    var timer = setTimeout(function checkoutSuccess() {
    window.location='/'

}, 2000);
    
</script>
</body>
</html>