<!DOCTYPE html>
<html>

	<%- include('../partials/head.ejs')%>
	<title>EZ PC</title>
	<%- include('../partials/index.ejs')%>

<body>
	<div class="container">
		<div class="navbar">
			<img src="/images/logo.png" class="logo">
		</div>
		

		<div class="content">
		<h1>You should always <br>be ready.</h1>
		<p>Laptops that are ready to redefine your experience</p>
</div>
	<img src=" /images/img.jpeg" class="feature-img">

	</div>	
	<%- include('../partials/footer.ejs')  %>
</div>

<%- include('../partials/nav.ejs')  %>
</body>
</html>
