<!DOCTYPE html>
<html>
	<%- include('../partials/head.ejs')  %>
	
	
<body>
	<div id ="loginform">
			<form id="loginf">
				<br>
				<br>
            <input type="text" id="uname"placeholder="Username" required>
            <input type="password" id="pass"placeholder="Password" required>
			<p id="checkbox"><input type="checkbox" onclick="show()">Show Password</p>
			<p id="error"></p>
			<br>
			
			<p id ="signup">Don't have an account? <a href="/register">Sign up</a></p>			
				<br><br>
				<button for="submitlogin" input type="submit" id = "submitlogin">SUBMIT</button>
			</form>
		</div>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<%- include('../partials/login.ejs')  %>
		<%- include('../partials/footer.ejs')  %>
		<%- include('../partials/nav.ejs')  %>

</body>
</html>