<!DOCTYPE html>
<html>
	
	<%- include('../partials/head.ejs')  %>
	  
	<title>Registration</title>

<body>
	<div id="registration">
		<form id="registrationform" name='RegForm' action="">
			<br>
			<br>
			<input type="text" id = "uname"  placeholder="Username" required>
            <input type="text" id = "fname"  placeholder="First Name" required>
			<input type="text" id = "mname"  placeholder="Middle Name"  maxlength="1" required>
			<input type="text" id = "lname" placeholder="Last Name" required>
            <input type="password" id = "password" placeholder="Password" required>
            <input type="text" id = "address"  placeholder="Address" required>
            <input type="email" id = "emailaddress" placeholder="Email Address" required>

			<br>

			
			<label for="img">Upload Profile Picture</label>
			<input type="file" id="img" name="img" accept="image/*">

			<br>
			
			<p id="error"></p>
			<br>
			<br>
		
				<input type="submit" id = "submitregister"/>
				<label for="submitregister"> SUBMIT</label>
				<br><br>
				<br><p id ="gologin">Alreaedy have an account? <a href="/login">Login</a></p>
	</form>
	</div>
	<%- include('../partials/register.ejs')  %> 
	<br><br><br><br>
	<%- include('../partials/footer.ejs')  %>
</div>
<%- include('../partials/nav.ejs')  %>
</body>
</html>
