<!DOCTYPE html>
<html>
	<%- include('../partials/head.ejs')  %>
	<%- include('../partials/review.ejs')  %>
	<title>Review</title>

<body>
	
		<div class="navbar">
			<img src="images/logo.png" class="logo">
		</div>

		<div class="content">
		<div class="comment">
<h1>Reviews</h1><br>
<hr style="width:100%", size="3", color=black> 
</div>
<div class="comment">
<strong><a href = "laptop1.html">Asus ROG GL551</a></strong>
<p>Name:Joe, M.</p>
<p>Date of Purchase:03-11-2021</p>
<p>Rating: 4/5</p>
<p>Comment: I love this product and seller is nice.</p><br>

<button>EDIT</button>
</div>
<div class="comment">
	<strong><a href = "laptop2.html">Asus ROG GL551</a></strong>
<p>Name:Joe, M.</p>
<p>Date of Purchase:03-11-2021</p>
<p>Rating: 4/5</p>
<p>Comment: I love this product and seller is nice.</p><br>

<button>EDIT</button>
</div>
<div class="comment">
	<strong><a href = "laptop3.html">Asus ROG GL551</a></strong>
<p>Name:Joe, M.</p>
<p>Date of Purchase:03-05-2021</p>
<p>Rating: 5/5</p>
<p>Comment: Nice.</p><br>

<button>EDIT</button>
</div>
<div class="comment">
	<strong><a href = "laptop4.html">Asus ROG GL551</a></strong>
<p>Name:Joe, M.</p>
<p>Date of Purchase:04-11-2021</p>
<p>Rating: 4/5</p>
<p>Comment: I love this product</p><br>

<button>EDIT</button>
</div>
</div>

	
<%- include('../partials/nav.ejs')  %>
</body>
</html>